.git
.github
node_modules
.next
out
build
coverage
storage/uploads/*
!storage/uploads/.gitkeep
.env
.env.*
!.env.example
npm-debug.log*
*.tsbuildinfo
docs
.cursor
.vscode
.DS_Store
README.md
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.prod.yml
DEPLOYMENT.md
deploy
